@import "mixin.scss";
* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: black;
  }
  .img {
    background-image: url(/images/got.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    .fa-solid{
      @include home(black);
    }
    h4{
      font-size: 30px;
      span{
        background-color: white;
      }
    }
  }
  .guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35em;
    #got-quote {
      @include quoteSection(#C87742,rgb(244, 245, 235),white )
    }
    .answers-buttons {
      width: 85%;
      height: 200px;
      button {
        @include answerButtons(rgb(255, 208, 0),white)

      }
      .correct{
        @include correct;
      }
      .wrong{
        @include wrong;
      }
    }
    #next-btn {
      @include gameOver();
      text-shadow:
          0 0 7px rgb(151, 239, 8),
          0 0 10px rgb(151, 239, 8),
          0 0 21px rgb(88, 96, 234),
          0 0 42px rgb(84, 150, 220),
          0 0 82px rgb(84, 150, 220),
          0 0 92px rgb(84, 150, 220),
          0 0 102px rgb(84, 150, 220),
          0 0 151px rgb(84, 150, 220);
    }
  }
  